PORT=3443
ARBOR_API_URL=https://your-school.uk.arbor.sc/data-export/export/id/000/h/replace-me/format/json/v/2/
ARBOR_AUTH_TOKEN=Basic replace-this-with-your-base64-token
SSL_KEY_PATH=key.pem
SSL_CERT_PATH=cert.pem
